node_modules

# Logs
logs

# Runtime data
pids
*.log
*.pid
*.seed

# .env file
.env

# build output
build

# dist output
dist

# node dependencies
node_modules

.gitignore
.next
.vscode
.env
.vercel
.cache